*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

table,tr,td,th, thead{
    border-right: 1px solid #d8d8d8;
    text-align: center;
}

.tabela-corpo tr:nth-child(odd){
    background-color: #f5f5f5;
}

table{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}
.tabela-cabecalho th{
    border-right: 1px solid #d8d8d8;
}

.tabela-corpo{
    border-top: 1px solid #d8d8d8;
}

.tabela-corpo td{
    border-right: 1px solid #d8d8d8;

}

.tabela-cabecalho__btn:hover{
    box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
    transform: translateY(5px) rotate(360deg);
}

.tabela-cabecalho__categoria th{
    font-size: 13px;
    font-weight: lighter;
    color: white;
    padding: 10px;
}

.tabela-cabecalho__categoria_azul{
    background-color: #0078c1;
}

.tabela-cabecalho__categoria_verde{
    background-color:#009e2c;
}

.btn_sombra{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.tabela-cabecalho__preco th{
    color: #4a4a4a;
    padding: 0 30px 30px 30px;
}

.tabela-cabecalho__btn{
    display: block;
    background-color: #FF5406;
    padding: 15px;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    transition: all 2s;
}

.tabela-corpo td.check_azul{
    color:#0078c1;
} 

.tabela-corpo td.check_verde{
    color:#009e2c;
} 

.tabela-corpo td{
    text-align: center;
    color: #4a4a4a;
    padding: 10px 15px;
}

.tabela-corpo tr td:first-child{
    text-align: left;
}